body {
  font-family: Arial, sans-serif;
  background: #18bb36;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
}

.container {
  background: rgb(234, 132, 132);
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(16, 7, 7);
  
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}

#weatherResult {
  margin-top: 20px;
  font-size: 18px;
}
